@using Budgeteer_Web.Models
@model IEnumerable<Transaction>

@foreach (Transaction t in Model)
{
    <tr>
        <td>@t.Date.ToShortDateString()</td>
        <td>@t.Person.Name</td>
        @if (t.Category.IsDebit)
        {
            <td>Debit</td>
        }
        else
        {
            <td>Credit</td>
        }
        <td>@t.Category.Name</td>
        <td>@t.Amount</td>
        <td>@t.Note</td>
    </tr>
}