@model Budgeteer_Web.Models.TransactionViewModel

<script type="text/javascript">
    function addCategories(data) {
        var target = $("#CategoryName");
        target.empty();
        for (var i = 0; i < data.length; i++) {
            var category = data[i];
            target.append("<option value=\"" + category.catName + "\">" + category.catName + "</option>");
        }
    }

    function updateCharts() {
        var target1 = $("#OverviewLeftChart");
        target1.prop("src", "/Home/DisplayChart?ct=Column&tt=Both&f=02%2F03%2F2016%2000%3A00%3A00&u=08%2F03%2F2016%2000%3A00%3A00&br=" + new Date().getTime());

        var target2 = $("#OverviewRightChart");
        target2.attr("src", "/Home/DisplayChart?ct=Pie&tt=Debit&f=02%2F03%2F2016%2000%3A00%3A00&u=08%2F03%2F2016%2000%3A00%3A00&br=" + new Date().getTime());
    }
</script>

@using (Ajax.BeginForm("Overview", "Home", null, new AjaxOptions { UpdateTargetId = "tableBody", OnSuccess = "updateCharts"}, new { @class = "form-inline", role = "form" }))
{
    <div class="form-group margin-right-10">
        @Html.LabelFor(tvm => tvm.Date, "Date:")
        @Html.TextBoxFor(tvm => tvm.Date, new { type = "date", @class = "form-control", id = "Date" })
    </div>

    <div class="form-group margin-right-10">
        @Html.LabelFor(tvm => tvm.PersonName, "Person:")
        @Html.DropDownListFor(tvm => tvm.PersonName, Model.Users, new { @class = "form-control", id = "PersonName" })
    </div>

    <div class="form-group margin-right-10">
        <label for="transtype">Type:</label>
        <div class="form-control" id="transtype">
            @Ajax.ActionLink("Debit", "Overview", new AjaxOptions { Url = Url.Action("GetCategoryNames", new { debit = true }), OnSuccess = "addCategories" })

            @Ajax.ActionLink("Credit", "Overview", new AjaxOptions { Url = Url.Action("GetCategoryNames", new { debit = false }), OnSuccess = "addCategories" })
        </div>
    </div>

    <div class="form-group margin-right-10">
        @Html.LabelFor(tvm => tvm.CategoryName, "Category:")
        <select class="form-control valid" data-val="true" data-val-required="The CategoryName field is required." id="CategoryName" name="CategoryName" aria-required="true" aria-describedby="CategoryName-error" aria-invalid="false"></select>
    </div>

    <div class="form-group margin-right-10">
        @Html.LabelFor(tvm => tvm.Amount, "Amount:")
        @Html.TextBoxFor(tvm => tvm.Amount, new { type = "text", @class = "form-control", id = "Amount" })
    </div>

    <div class="form-group margin-right-10">
        @Html.LabelFor(tvm => tvm.Note, "Note:")
        @Html.TextBoxFor(tvm => tvm.Note, new { type = "text", @class = "form-control", id = "Note" })
    </div>

    <button type="submit" class="btn btn-default">Add</button>
}