@model Budgeteer_Web.Models.TransactionViewModel

@using (Html.BeginForm("AddTransaction", "Home", FormMethod.Post, new { @class = "form-inline", role = "form" }))
{
    <div class="form-group margin-right-10" style="width: 154px">
        @Html.LabelFor(tvm => tvm.Date, "Date:")
        @Html.TextBoxFor(tvm => tvm.Date, new { type = "date", @class = "form-control", id = "Date" })
    </div>

    <div class="form-group margin-right-10" style="width: 185px">
        @Html.LabelFor(tvm => tvm.PersonName, "Person:")
        @Html.DropDownListFor(tvm => tvm.PersonName, Model.Users, new { @class = "form-control", id = "PersonName" })
    </div>

    <div class="form-group margin-right-10" style="width: 151px">
        @Html.LabelFor(tvm => tvm.IsDebit, "Type:")
        <div class="form-control">
            <label class="radio-inline">
                @Html.RadioButtonFor(tvm => tvm.IsDebit, "Debit", new { id = "IsDebit", name = "transtype", @checked = "" })Debit
            </label>
            <label class="radio-inline">
                <input type="radio" name="IsDebit" value="Credit">Credit
            </label>
        </div>
    </div>

    <div class="form-group margin-right-10" style="width: 185px">
        @Html.LabelFor(tvm => tvm.CategoryName, "Category:")
        @Html.DropDownListFor(tvm => tvm.CategoryName, Model.Categories, new { @class = "form-control", id = "CategoryName" })
    </div>

    <div class="form-group margin-right-10" style="width: 137px">
        @Html.LabelFor(tvm => tvm.Amount, "Amount:")
        @Html.TextBoxFor(tvm => tvm.Amount, new { type = "text", @class = "form-control", id = "Amount" })
    </div>

    <div class="form-group margin-right-10" style="width: 185px">
        @Html.LabelFor(tvm => tvm.Note, "Note:")
        @Html.TextBoxFor(tvm => tvm.Note, new { type = "text", @class = "form-control", id = "Note" })
    </div>

    <button type="submit" class="btn btn-default" style="height: 59px; width: 59px">Add</button>
}
