
@{
    ViewBag.Title = "Spending";
}

<h2>@ViewBag.Title</h2>

<div>
    <img id="SpendingTopLeftChart" src="@Url.Action("DisplayChart", new {chartName = "SpendingTopLeftChart", br = DateTime.Now.TimeOfDay.ToString(), dateFrom = DateTime.Today.AddMonths(-6), dateUntil = DateTime.Today, personName = "Aleks Angelov"})" alt="Spending of"/>

    <img id="SpendingTopRightChart" src="@Url.Action("DisplayChart", new {chartName = "SpendingTopRightChart", br = DateTime.Now.TimeOfDay.ToString(), dateFrom = DateTime.Today.AddMonths(-6), dateUntil = DateTime.Today, categoryName = "Food"})" alt="Spending for" />
</div>

<div>
    <img id="SpendingBottomLeftChart" src="@Url.Action("DisplayChart", new {chartName = "SpendingBottomLeftChart", br = DateTime.Now.TimeOfDay.ToString(), dateFrom = DateTime.Today.AddMonths(-6), dateUntil = DateTime.Today, personName = "Aleks Angelov"})" alt="Spending Distribution of" />

    <img id="SpendingBottomRightChart" src="@Url.Action("DisplayChart", new {chartName = "SpendingBottomRightChart", br = DateTime.Now.TimeOfDay.ToString(), dateFrom = DateTime.Today.AddMonths(-6), dateUntil = DateTime.Today, categoryName = "Food"})" alt="Spending Distribution for" />
</div>
