
@{
    ViewBag.Title = "Spending";
}

<h2>@ViewBag.Title</h2>

<div style="float: left">
    <img id="SpendingTopLeftChart" src="@Url.Action("DisplayChart", new {name = "SpendingTopLeftChart", br = DateTime.Now.TimeOfDay.ToString()})" alt="Spending of"/>

    <img id="SpendingTopRightChart" src="@Url.Action("DisplayChart", new {name = "SpendingTopRightChart", br = DateTime.Now.TimeOfDay.ToString()})" alt="Spending for" />
</div>

<div style="float: right">
    <img id="SpendingBottomLeftChart" src="@Url.Action("DisplayChart", new {name = "SpendingBottomLeftChart", br = DateTime.Now.TimeOfDay.ToString()})" alt="Spending Distribution of" />

    <img id="SpendingBottomRightChart" src="@Url.Action("DisplayChart", new {name = "SpendingBottomRightChart", br = DateTime.Now.TimeOfDay.ToString()})" alt="Spending Distribution for" />
</div>
