@model Budgeteer_Web.Models.SpendingAndIncomeViewModel

@{
    ViewBag.Title = "Spending";
}

<h2>@ViewBag.Title</h2>

<div class="form-inline" style="margin-top: 24px">
    <div class="form-group margin-right-md" style="width: 162px">
        @Html.LabelFor(svm => svm.PersonName, "Person:")
        @Html.DropDownListFor(svm => svm.PersonName, Model.UserItems, new {@class = "form-control", id = "SpendingPersonName", style = "width:162px"})
    </div>

    <div class="form-group margin-right-md" style="width: 175px">
        @Html.LabelFor(svm => svm.DateFrom, "From:")
        @Html.TextBoxFor(svm => svm.DateFrom, new
        {
            type = "date",
            @class = "form-control",
            id = "SpendingDateFrom",
            style = "width:175px"
        })
    </div>

    <div class="form-group margin-right-md" style="width: 175px">
        @Html.LabelFor(svm => svm.DateUntil, "Until:")
        @Html.TextBoxFor(svm => svm.DateUntil, new
        {
            type = "date",
            @class = "form-control",
            id = "SpendingDateUntil",
            style = "width:175px"
        })
    </div>

    <div class="form-group margin-right-lg" style="width: 162px">
        @Html.LabelFor(svm => svm.CategoryName, "Category:")
        @Html.DropDownListFor(svm => svm.CategoryName, Model.CategoryItems, new {@class = "form-control", id = "SpendingCategoryName", style = "width:162px"})
    </div>

    @Html.Action("AddSpendingCategory", new {isDebit = true})
</div>

<div style="margin-top: 26px">
    <img id="SpendingTopLeftChart" src="@Url.Action("DisplayChart", "Home", new {chartName = "SpendingTopLeftChart", dateFrom = DateTime.Today.AddMonths(-6), dateUntil = DateTime.Today, personName = "Aleks Angelov", br = DateTime.Now.TimeOfDay.ToString()})" alt="Spending of"/>

    <img id="SpendingTopRightChart" src="@Url.Action("DisplayChart", "Home", new {chartName = "SpendingTopRightChart", dateFrom = DateTime.Today.AddMonths(-6), dateUntil = DateTime.Today, categoryName = "Food", br = DateTime.Now.TimeOfDay.ToString()})" alt="Spending for"/>
</div>

<div style="margin-top: 26px">
    <img id="SpendingBottomLeftChart" src="@Url.Action("DisplayChart", "Home", new {chartName = "SpendingBottomLeftChart", dateFrom = DateTime.Today.AddMonths(-6), dateUntil = DateTime.Today, personName = "Aleks Angelov", br = DateTime.Now.TimeOfDay.ToString()})" alt="Spending Distribution of"/>

    <img id="SpendingBottomRightChart" src="@Url.Action("DisplayChart", "Home", new {chartName = "SpendingBottomRightChart", dateFrom = DateTime.Today.AddMonths(-6), dateUntil = DateTime.Today, categoryName = "Food", br = DateTime.Now.TimeOfDay.ToString()})" alt="Spending Distribution for"/>
</div>

<script type="text/javascript">
    var date_6M = new Date();
    date_6M.setMonth(date_6M.getMonth() - 6);

    document.getElementById("SpendingDateFrom").valueAsDate = date_6M;
    document.getElementById("SpendingDateUntil").valueAsDate = new Date();
</script>